@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    background: #c3abff;
    color: #27105f;
}

.char-dropdown-option {
    color: #c3abff;
    background: #27105f;
}

.char-dropdown-option:hover {
    background-color: #c3abff;
    color: #27105f;
}

.char-dropdown {
    border: 0;
    outline: 0;
    color: #c3abff;
    font-size: 17px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "Balsamiq Sans";
    background: #27105f;
}

.bio {
    text-align: left;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Balsamiq Sans";
}
.sub-heading {
    color: #27105f;
    font-size: 20px;
    font-weight: bold;
    font-family: "Balsamiq Sans";
}
/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
    width: 70%;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

  #chat_input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-family: "Balsamiq Sans";
    background: #292929;
  }
   
  #chat_pod {
    margin-left: auto;
    margin-right: auto;
  }

  #submit_btn {
    border: 0;
    outline: 0;
    color: gray;
    font-size: 15px;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    font-family: "Balsamiq Sans";
    background: #292929;
  }

  #submit_btn:hover {
    background: #27105f;
    color: #c3abff;
}
